<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>New questionss</title>
</head>
<body>
        <h1>List of questions:</h1>
            {% for question in new_qas %}
              <p>{{question.id}}: {{ question.title }}
                <a href="{{ paginator.baseurl }}/question/{{ question.id }}/">
                  {{ paginator.baseurl }}/question/{{ question.id }}/
                </a>
              </p>
            {% endfor %}

            <nav><ul>
            {% for page_number in paginator.page_range %}
              <li>
                <a href="{{ paginator.baseurl }}{{ page_number }}">
                  {{ page_number }}
                </a>
              </li>
            {% endfor %}
            </ul></nav>

</body>
</html>